<div>
  <div class="container"
       *ngFor="let user of users; let o= odd; let e=even;"
       [ngClass]="{ odd: o, even: e }"
       (click)="goToUserPosts(user.id)"
  >
    <strong>{{user.name}}</strong>
    <div *ngIf="user.email">
      <label for="email">email: </label>
      <a href="mailto:{{user.email}}" (click)="$event.stopPropagation()">{{user.email}}</a>
    </div>
    <div *ngIf="user.phone">
      <label for="phone">phone: </label>
      <a href="tel:{{user.phone}}" (click)="$event.stopPropagation()">{{user.phone}}</a>
    </div>
    <div>
      <label for="company">company: </label>
      <span *ngIf="user.company">
      {{user.company.name}}
      </span>
    </div>
  </div>
</div>
